@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');


@mixin rotated-text($num-letters: 100, $angle-span: 180deg, $angle-offset: 0deg) {
  $angle-per-char: $angle-span / $num-letters;

  @for $i from 1 through $num-letters {
    .char#{$i} {
      transform: rotate($angle-offset + $angle-per-char * $i * -1);
    }
  }
}

:root {
  --modal-duration: 1s;
  --modal-color:#26d367;// #ddd; //#26d367;
  
}

body {
  overflow-x:hidden;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  
  
.modal-content {
  margin: 10% auto;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  @media only screen and (max-width: 600px) {
    width: 90%;
  }
  
}
.modal-header {
  h2 {
    color:black;
    text-shadow: -1.5px -1.5px 0 #ffffff, 1.5px -1.5px 0 #ffffff, -1.5px 1.5px 0 #ffffff, 1.5px 1.5px 0 #ffffff;
  }

}
.modal-header h2,
.modal-footer h3 {
  margin: 0;
}

.modal-header {
  background: linear-gradient(
    0deg
    , #40d451, #80ff8f);
  padding: 15px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  
  h2 {
    display: inline;
    max-width: 80%;
  }
}

.modal-body {
  padding: 10px 20px;
  background: #fff;
  display: flex;
  justify-content: center;

  
  &.modal-body-step-1 {
    display: block;
  }

  &.modal-body-step-2 {
    .form-style-6 {
      margin: 0;
      min-width: initial;
      overflow-y: auto;
    }
  }

  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
  
  a {
    appearance: button;
    text-decoration: none;
    text-align: center;
    display: inline;
    font-size: 1.5rem;
    border-radius: 10px;
    //background: rgb(106, 75, 155);
    background-color:#26d367;
    color: white;
    margin: auto auto;
    border: 1px solid black;
    box-shadow: 0 9px #222;
    cursor: pointer;
    &:hover {
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
    
    img {
      height: 125px;
      width: 125px;
      
    }
  }
}

.modal-footer {
  
  background: linear-gradient(
    0deg
    , #80ff8f, #40d451);
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: flex-end;
  padding:10px;
  justify-content: space-between;
  flex-direction: row-reverse;
  .close-btn {
    background-color: red;
    border-radius: 10px;
  }
  .next-btn {
    background-color: #4f52ff;
    font-size: 30px;
    color: #fff;
    border-radius: 15px;
    &:hover {
      color:black;
    }
  }
  .prev-btn {
    background-color: #3d3d3d;
    border-radius: 15px;
    font-size: 30px;
    color: #fff;
    &:hover {
      color:black;
    }
  }
}

.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
}

#modal-btn {
  background: linear-gradient(0deg, #80ff8f, #40d451);
  //padding: 1em 2em;
  color: #fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background: linear-gradient(180deg, #80ff8f, #40d451);
  }
}


#products-modal {
  .modal-header {
    h2 {
      color:black;
      text-shadow: -1.5px -1.5px 0 #ffffff, 1.5px -1.5px 0 #ffffff, -1.5px 1.5px 0 #ffffff, 1.5px 1.5px 0 #ffffff;
    }
  }
  .modal-body {
    background: linear-gradient(0deg, #80ff8f, #40d451);
    //background: var(--modal-color);
  }
  
  .post {
    box-shadow: 1px 1px 15px black;
  }
  
  .modal-footer {
    background: linear-gradient(0deg, #40d451, #80ff8f);
    .products-footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      .grid-item {
        /*border: 1px red solid;*/
        min-width: auto;
        min-height: auto ;
        flex-basis: 25%;
        
        img {
          height: 90px;
          width: 90px;
        }
      }
    }
    
    
  }
}

/* light-modal */
/*
.light-modal{--lm-body-bg:#845ec2;--lm-modal-bg:#000000;--lm-close-bg:#ff6f91;--lm-small-modal:30vw;--lm-large-modal:50vw;--lm-font-size:14px;display:none;position:fixed;background:rgba(0,0,0,0);top:0;bottom:0;left:0;align-items:center;justify-content:center;right:0;z-index:9000;transition:background 1s;font-size:var(--lm-font-size);visibility:hidden}.light-modal-content{background:var(--lm-body-bg);color:#fff;width:var(--lm-small-modal);border-radius:.2em;position:relative;max-height:calc(100vh - 150px);line-height:1.4;display:flex;flex-direction:column}.light-modal-content img{max-width:100%;border-radius:.2em}.light-modal-content.large-content{width:var(--lm-large-modal)}.light-modal-header{padding:20px 20px 20px 20px;background:rgba(0,0,0,.2);display:flex;justify-content:space-between;align-items:center}.light-modal-heading{margin:0;font-size:1.5em}.light-modal-heading+.light-modal-close-icon{position:static}.light-modal-body{padding:20px;overflow:auto;max-height:450px}.light-modal-footer{padding:20px 20px 20px 20px;background:rgba(0,0,0,.2);text-align:right;display:flex;align-items:center}.light-modal-close-btn,.light-modal-close-icon{text-decoration:none;color:#fff;padding:5px 10px;border-radius:.2em;background:var(--lm-close-bg);font-size:1.5em;line-height:1;opacity:1;transition:opacity .2s ease-in-out}.light-modal-close-btn:hover,.light-modal-close-icon:hover{opacity:.9}.light-modal-close-icon{position:absolute;top:-15px;right:-15px}.light-modal-close-btn{font-size:1.3em;line-height:1.4}.light-modal-caption{position:absolute;left:50%;transform:translateX(-50%);top:100%;padding:10px 0;background:rgba(0,0,0,.2);border-radius:.2em;width:100%;text-align:center;margin-top:5px}.light-modal:target{background:rgba(0,0,0,.5);display:flex;visibility:visible}.light-modal-navigation .navigation-next,.light-modal-navigation .navigation-prev{width:32px;height:32px;border-color:#fff;transition:border-color .2s}.light-modal-navigation .navigation-next:hover,.light-modal-navigation .navigation-prev:hover{border-color:rgba(255,255,255,.7)}.light-modal-navigation .navigation-next{position:absolute;right:-50px;top:50%;border-bottom:1px solid;border-left:1px solid;transform:rotate(-135deg)}.light-modal-navigation .navigation-prev{position:absolute;left:-50px;top:50%;border-bottom:1px solid;border-left:1px solid;transform:rotate(45deg)}@media (max-width:480px){.light-modal-navigation .navigation-next{right:5px}.light-modal-navigation .navigation-prev{left:5px}}@-webkit-keyframes basic{0%{opacity:0}100%{opacity:1}}@keyframes basic{0%{opacity:0}100%{opacity:1}}.basic{-webkit-animation-name:basic;animation-name:basic}@media (max-width:1000px){.light-modal{--lm-small-modal:70vw;--lm-large-modal:70vw}}
.light-modal-heading {
  margin: auto;
}
.light-modal-body {
  display: flex;
  
  justify-content: center;
  a {
    appearance: button;
    text-decoration: none;
    text-align: center;
    display: inline;
    font-size: 1.5rem;
    border-radius: 10px;
    background: rgb(106, 75, 155);
    color: white;
    margin: auto auto;
    border: 1px solid black;
    box-shadow: 0 9px #222;
    cursor: pointer;
    &:hover {
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
  }
}*/

@media only screen and (max-width: 600px) {
  /*nav {
    display: none;
  }*/
  /*.light-modal-body {
    flex-direction: column;
  }*/
}

nav {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: 0.5s;
  .icon {
    display: none;
    img {
      width: 30px;
      color:white;
    }
  }

  &.block {
    background: rgba(0, 0, 0, 0.8);
    height: 80px;
    padding: 10px 50px;

    .logo img {
      height: 60px;
    }

    ul li a {
      color: #fff;
      line-height: 60px;
    }
  }

  .logo {
    float: left;

    img {
      height: 80px;
      transition: 0.5s;
    }
  }

  ul {
    float: right;
    margin: 0;

    /*padding-right: 130px;*/
    display: flex;

    li {
      list-style: none;

      a {

        line-height: 80px;
        color: #262626;
        padding: 5px 20px;
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.5s;

        &:hover {
          color: #fff;
          background: rgb(19, 223, 19);
        }

        &.active {
          color: #fff;
          background: rgb(19, 161, 19);
        }
      }
    }
  }
  li .menu-active {
    background: rgb(0, 177, 21);
  }
  
}


@media screen and (max-width: 600px) {
  /*nav li:not(:first-child) {display: none;}*/
  nav li{display: none;}
  nav a.icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 50px;
  }
  nav.block > ul > a.icon {
    display: block;
  }
  nav > ul > a.icon {
    display: none;
  }
  nav.responsive {/*position: relative;*/}
  nav.responsive .icon {
    position: absolute;
  }
  nav ul {
    flex-direction: column;
  }
  nav.responsive li {
   display: inline-block;
   transform: translate(-40px, 40px);
   background-color: #262626;
  }
  nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.icon-bar {
	position: fixed;
  top: 50%;
  left: -160px;
  transform: translateY(-50%);
	z-index: 10;
	
	div {
    text-decoration: none;
    width: 210px;
    //background: #3b5999;
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    //padding: 5px;
    font-size: 20px;
    //transform: translateX(-160px);
    transform: translateX(-210px);
    /*-webkit-transform: translateX(-170px);
    -ms-transform: translateX(-170px);*/
    transition: all 0.5s linear;
    /*-webkit-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;*/
    
    img {
      height: 50px;
      width: 50px;
    }
    a {
      display: inline;
    }
    
    &:hover {
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
    }
  }
  
  
}



.carrot {
	background: #fcb900;
}

.delivery {
	background: #00aced;
}

.gift {
  background:rgb(137, 0, 175);
  button {
    padding: 9px;
    width: 53%;
    height: 100%;
    font-weight: bold;
    background: -webkit-gradient(linear, left bottom, left top, from(#40d451), to(#80ff8f));
    background: #8900af;
    font-size: 0.8em;
    border-color:white;

    &:hover {
      color:white;
    }
  }
}

.whatsapp {
	background: #2bff00;
}

.buy-cart {
  background: red;
  &.spin {
    animation: spin 1.5s ease-in-out forwards;
  }
  
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
  #lblCartCount {
    font-size: 16px;
    background: #0020ff;
    color: #fff;
    vertical-align: top;
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate(50%, -50%);
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
}

a i {
	padding-left: 20px;
	font-size: 30px !important;
	animation: letszoom 3s linear alternate-reverse infinite;
}
.icn-spinner {
  animation: spin-animation 0.5s forwards;
  display: inline-block;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

@keyframes letszoom {
	from {
		transform: scale(0.8);
	}

	to {
		transform: scale(1);
	}

}

a:hover {
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
}
.sec1 {
  width: 100vw;
  height: 70vh;
  background: url(../imgs/carusel/photo_136@21-01-2021_09-23-29.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
  /*
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: blue;
    text-shadow: rgb(255, 255, 255) -1.5px -1.5px 0px, rgb(255, 255, 255) 1.5px -1.5px 0px, rgb(255, 255, 255) -1.5px 1.5px 0px, rgb(255, 255, 255) 1.5px 1.5px 0px;
    font-size: 1.6em;
    .description {
      font-size: 1em;
    }
  }*/
  .flag {
    bottom: 0px;
    right: 0px;
    position: absolute;
    img {
      height: 100px;
    }
  }
}
.products-title {
  text-shadow:
  -1.5px -1.5px 0 rgb(199, 199, 199),  
   1.5px -1.5px 0 rgb(199, 199, 199),  
  -1.5px  1.5px 0 rgb(199, 199, 199),  
   1.5px  1.5px 0 rgb(199, 199, 199);
  background: linear-gradient(0deg, #40d451, #80ff8f);
  margin: 0px;
  text-align: center;
  font-size: 2.8em;
  padding-top: 20px;
}
.sec2 {
  padding-top: 40px;
  width: 100vw;
  height: 100%;
  background: linear-gradient(0deg, #80ff8f, #40d451);
  display: flex;
  justify-content: center;
  padding-bottom: 50px;


  display: flex;
  flex-wrap: wrap;

  /*padding-left: 100px;
    padding-right: 100px;*/

  @media only screen and (max-width: 480px) {
    padding-left: 0;
    padding-right: 0;
  }
  
  /*
  .grid-item-1:hover img,
  .grid-item-1.active img {
    box-shadow: 0 0px 60px 0 rgb(255, 238, 0);
  }


  .grid-item-3:hover img,
  .grid-item-3.active img {
    box-shadow: 0 0px 60px 0 rgb(255, 0, 0);
  }

  .grid-item-2:hover img,
  .grid-item-2.active img {
    box-shadow: 0 0px 60px 0 rgb(46, 0, 59);
  }


  .grid-item-4:hover img,
  .grid-item-4.active img {
    box-shadow: 0 0px 60px 0 rgb(46, 0, 59);
    box-shadow: 0 0px 60px 0 rgb(255, 123, 0);
  }

  .grid-item-5:hover img,
  .grid-item-5.active img {
    box-shadow: 0 0px 60px 0 rgb(255, 123, 0);

  }
  */

  .grid-item {

    //border: 1px black solid;
    /*border:1px red solid;*/
    min-height: 250px;
    min-width: 220px;
    padding-bottom: 40px;
    /*border: 1px solid red;*/
    //flex: 1;
    flex-grow: 0;
    flex-basis: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;

    transition: 0.3s;

    @media only screen and (max-width: 500px) {
      min-width: 220px
    }
    
    h1 span {
      @import url('https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&display=swap');
      font-family: 'Cousine', monospace;
      font-size: 26px;
      height: 150px;
      position: absolute;
      width: 0px;
      left: 50%;
      top: -3px;
      transform-origin: bottom center;
      
      text-shadow:
     -1px -1px 0 rgb(199, 199, 199),  
      1px -1px 0 rgb(199, 199, 199),  
     -1px  1px 0 rgb(199, 199, 199),  
      1px  1px 0 rgb(199, 199, 199);
      
    }
    /*
    h1 {
      @include rotated-text(14, 90deg, 45deg);
    }
    h1 span {
      @import url('https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&display=swap');
      font-family: 'Cousine', monospace;
      font-size: 26px;
      color:rgb(255, 238, 0);
      height: 50%;
      position: absolute;
      width: 0px;
      left: 50%;
      top: -3px;
      transform-origin: bottom center;
      
    }
    */
    
    &.active, &:hover {
      h1 span {
        top:-40px;
        height: 55%;
      }
    }
    @media only screen and (max-width: 1000px) {
      &.active, &:hover {
        h1 span {
          top:-10px;
          height: 45%;
        }
      }
    
      h1 span {
        height: 40%;
        top: 20px;
      }
    }

    img {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
      height: 300px;
      width: 300px;
      border-radius: 50%;
      

      @media only screen and (max-width: 1000px) {
        height: 200px;
        width: 200px;
      }
    }
  }
  
  .grid-item-1 {
    h1 {
      @include rotated-text(16, 130deg, 60deg);
      //@include rotated-text(14, 90deg, 45deg);
      color: rgb(255, 238, 0);
    }
    &.active,
    &:hover {
      img {
        box-shadow: 0 0px 60px 0 rgb(255, 238, 0);
      }
    }
  }
  .grid-item-2 {
    h1 {
      @include rotated-text(8, 90deg, 45deg);
      color: rgb(255, 0, 0);
    }
    &.active,
    &:hover {
      img {
        box-shadow: 0 0px 60px 0 rgb(255, 0, 0);
      }
    }
  }
  .grid-item-3 {
    h1 {
      @include rotated-text(24, 150deg, 75deg);
      color: rgb(137, 0, 175);
    }
    &.active,
    &:hover {
      img {
        box-shadow: 0 0px 60px 0 rgb(137, 0, 175);
      }
    }
  }
  .grid-item-4 {
    h1 {
      @include rotated-text(10, 90deg, 45deg);
      color: rgb(255, 123, 0);
    }
    &.active,
    &:hover {
      img {
        box-shadow: 0 0px 60px 0 rgb(255, 123, 0);
      }
    }
  }
  .grid-item-5 {
    h1 {
      @include rotated-text(20, 150deg, 75deg);
      color: rgb(46, 0, 59);
    }
    &.active,
    &:hover {
      img {
        box-shadow: 0 0px 60px 0 rgb(46, 0, 59);
      }
    }
  }

  .grid-item-6 {
    h1 {
      @include rotated-text(8, 90deg, 45deg);
      color: rgb(255, 115, 0);
    }
    &.active,
    &:hover {
      img {
        box-shadow: 0 0px 60px 0 rgb(255, 115, 0);
      }
    }
  }

  .grid-item-7 {
    h1 {
      @include rotated-text(9, 150deg, 75deg);
      color: rgb(255, 115, 0);
    }
    &.active,
    &:hover {
      img {
        box-shadow: 0 0px 60px 0 rgb(255, 115, 0);
      }
    }
  }
  .grid-item-8 {
    h1 {
      @include rotated-text(10, 150deg, 75deg);
      color: rgb(153, 0, 255);
    }
    &.active,
    &:hover {
      img {
        box-shadow: 0 0px 60px 0  rgb(153, 0, 255);
      }
    }
  }
  .grid-item-9 {
    h1 {
      @include rotated-text(10, 150deg, 75deg);
      color: rgb(255, 94, 0);
    }
    &.active,
    &:hover {
      img {
        box-shadow: 0 0px 60px 0  rgb(255, 94, 0);
      }
    }
  }
  .grid-item-10 {
    h1 {
      @include rotated-text(11, 120deg, 60deg);
      color: rgb(255, 94, 0);
    }
    &.active,
    &:hover {
      img {
        box-shadow: 0 0px 60px 0  rgb(255, 94, 0);
      }
    }
  }
  .grid-item-11 {
    h1 {
      @include rotated-text(9, 90deg, 45deg);
      color: rgb(255, 187, 0);
    }
    &.active,
    &:hover {
      img {
        box-shadow: 0 0px 60px 0  rgb(255, 187, 0);
      }
    }
  }

  .grid-item-12 {
    h1 {
      @include rotated-text(18, 130deg, 60deg);
      color: rgb(156, 4, 187);
    }
    &.active,
    &:hover {
      img {
        box-shadow: 0 0px 60px 0 rgb(156, 4, 187);
      }
    }
  }
  .post-container {
    width: 100%;
    height: 100%;
    /*background-color: #232323;*/
    display: flex;
    justify-content: center;
    align-items: center;
    //display: none;

    .post {
      transition: ease-in-out 600ms;
      width: 525px;
      border-radius: 25px;
      height: 500px;
      display: flex;
      overflow: hidden;
      flex-direction: column;
      position: relative;
      @media only screen and (min-width: 600px) {

        &:hover {
          .header_post {
            margin-top: -20px;
            height: 60%;
          }

          .body_post {
            height: 50%;
          }

          .post-image {
            transform: translatey(-10px) translatex(-5px) scale(1.05);
          }

          /*
                  img {
                      transform: translatey(-10px) translatex(-5px) scale(1.05)
            
                  }*/
        }
      }

      .header_post {
        width: 100%;
        height: 40%;
        background: #ddd;
        position: absolute;
        top: 0;
        /*-webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
                -moz-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
                -ms-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
                -o-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;*/

        transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
        

        /*img {
                  max-width: 100%;
                  height: auto;
                   transition: ease-in-out 600ms;
                }*/
        .post-image {
          background: url(imgs/photo_potato1_thumb.jpg) center center;

          max-width: 100%;
          height: 100%;
          /*transition: ease-in-out 600ms;*/
        }
      }

      .body_post {
        width: 100%;
        height: 60%;
        background: #fff;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
        
        overflow-y:auto;
        /*
                -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
                -moz-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
                -ms-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
                -o-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
                transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;*/
        cursor: pointer;


        .post_content {
          width: 80%;
          height: 80%;
          background: #fff;
          text-align: right;
          position: relative;

          h1 {
            font-size: 20px;
            font-weight: bold;
          }

          p {
            font-size: 15px;
            font-weight: normal;
          }

          .container_infos {
            width: 100%;
            display: flex;
            /*justify-content: space-between;*/
            /*position: absolute;*/
            bottom: 0;
            border-top: 1px solid rgba(0, 0, 0, .2);
            padding-top: 5px;
            flex-direction: row;
            align-items: center;
            align-content: space-between;
            .number {
              display: inline-flex;
            }

            span {
              cursor: pointer;
            }



            /*
                .postedBy {
                  display: flex;
                  flex-direction: column;
                  text-transform: uppercase;
                  letter-spacing: 1px;
                  font-size: 12px;

                  span {
                    font-size: 12px;
                    text-transform: uppercase;
                    opacity: 0.5;
                    letter-spacing: 1px;
                    font-weight: bold;
                  }
                }

                .container_tags {
                  display: flex;
                  flex-direction: column;

                  span {
                    font-size: 12px;
                    text-transform: uppercase;
                    opacity: 0.5;
                    letter-spacing: 1px;
                    font-weight: bold;
                  }

                  .tags {
                    ul {
                      display: flex;

                      li {
                        font-size: 12px;
                        letter-spacing: 2px;
                        list-style: none;
                        margin-left: 8px;
                        text-transform: uppercase;
                        position: relative;
                        z-index: 1;
                        display: flex;
                        justify-content: center;
                        cursor: pointer;

                        &:first-child {
                          margin-left: 0px;
                        }

                        &:before {
                          content: '';
                          text-align: center;
                          width: 100%;
                          height: 5px;
                          background: #FC6042;
                          opacity: 0.5;
                          position: absolute;
                          bottom: 0;
                          z-index: -1;
                          padding: 0px 1px;
                          -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
                          -moz-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
                          -ms-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
                          -o-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
                          transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
                        }

                        &:hover:before {
                          height: 18px;
                        }
                      }
                      
                    }
                  }
                }*/
          }
        }
      }
    }
  }

}

#exampleSlider {
  position: relative;      /* recommended */
  
  & .MS-content {
    white-space: nowrap;     /* required */
    overflow: hidden;        /* required */
    $perent: &;
    //margin: 0 5%;            /* makes room for L/R arrows */
  }
  & .MS-content .item {
    display: inline-block;   /* required */
    width: 40%;              /* required * Determines number of visible slides */
    position: relative;      /* required */
    vertical-align: top;     /* required */
    overflow: hidden;        /* required */
    //height: 100%;            /* recommended */
    height: 250px;
    white-space: normal;     /* recommended */

    @media only screen and (max-width: 600px) {
      width: 80%;
    }
    
    img {
      height: 250px;
      width: 100%;
    }
    &:hover {
      overflow: visible;
      img {
        transform: scale(1.2);
      }
    }
  }
}
#exampleSlider .MS-controls button {
  position: absolute;      /* recommended */
  top: 35px;
}
#exampleSlider .MS-controls .MS-left {
  left: 10px;
}
#exampleSlider .MS-controls .MS-right {
  right: 10px;
}

.sec3 {
  width: 100vw;
  height: 100%;
  background-color: #ddd;
  
  .contact-us {
    display: flex;
    @media only screen and (max-width: 600px) {
      flex-direction: column-reverse;
    }
    .eyal-image {
      @media only screen and (max-width: 600px) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    img {
      height: 450px;
      width: 310px;
      object-fit: cover;
    }
    .who-us {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: right;
      margin: 0 40px 0 40px;
      @media only screen and (max-width: 600px) {
        margin: 0px 50px 50px 50px;
      }
      h1 {
        span {
          display:inline-block;
          border-bottom:1px solid black;
          padding-bottom:2px;
        }
        font-size: 2.7em;
        color: #40d451;
        text-shadow: -1.5px -1.5px 0 #000000, 1.5px -1.5px 0 #000000, -1.5px 1.5px 0 #000000, 1.5px 1.5px 0 #000000;
      }
      .content {
        h1{
          text-decoration: none;
        }
        
        text-align: center;
        .title {
          color: blue;
          text-shadow: rgb(255, 255, 255) -1.5px -1.5px 0px, rgb(255, 255, 255) 1.5px -1.5px 0px, rgb(255, 255, 255) -1.5px 1.5px 0px, rgb(255, 255, 255) 1.5px 1.5px 0px;
          font-size: 1.6em;
        }
          .description {
            color: blue;
            text-shadow: rgb(255, 255, 255) -1.5px -1.5px 0px, rgb(255, 255, 255) 1.5px -1.5px 0px, rgb(255, 255, 255) -1.5px 1.5px 0px, rgb(255, 255, 255) 1.5px 1.5px 0px;
            font-size: 1.3em;
          }
        }
      
      
      .content {
        font-size: 1.2em;
        
      }
    }
  }
}

.form-style-6 {
  font: 95% Arial, Helvetica, sans-serif;
  
  min-width: 400px;
  max-height: 410px;
  //margin: 10px auto;
  margin: 10px 0 0 50px;
  padding: 16px;
  background: #F7F7F7;
}

.form-style-6 h1 {
  background: #43D1AF;
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: #fff;
  margin: -16px -16px 16px -16px;
}

.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 input[type="tel"],
.form-style-6 textarea,
.form-style-6 select {
  /*-webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;*/
  transition: all 0.30s ease-in-out;
  outline: none;
  box-sizing: border-box;
  text-align: right;
  /*
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;*/
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  color: #555;
  font: 95% Arial, Helvetica, sans-serif;
}

.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 input[type="tel"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus {
  box-shadow: 0 0 5px #43D1AF;
  padding: 3%;
  border: 1px solid #43D1AF;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"] {
  box-sizing: border-box;
  /*
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;*/
  width: 100%;
  padding: 3%;
  background: #43D1AF;
  border-bottom: 2px solid #30C29E;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff;
}

.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover {
  background: #2EBC99;
}

@media only screen and (max-width: 600px) {
  .form-style-6 {
    min-width: 0;
    margin:0;
  }
}
.number {
  flex: 1;
  /*margin: 100px;*/
  .minus,
  .plus {
    width: 20px;
    height: 20px;
    background: #f2f2f2;
    border-radius: 4px;
    padding: 8px 5px 8px 5px;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }

  input {
    height: 34px;
    width: 100px;
    text-align: center;
    font-size: 26px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
  }
  
  @media only screen and (max-width: 600px) {
    input {
      width:50px;
    }
  }
}
// cart button styles
.cart-button {
	position: relative;
	padding: 10px;
	width: 180px;
	height: 60px;
	border: 0;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
	background-color: #4834d4;
	outline: none;
	cursor: pointer;
	color: #fff;
	transition: .3s ease-in-out;
  overflow: hidden;
  &:hover {
    background-color: #35269b;
  }
  &:active {
    transform: scale(.9);
  }

  & .fa-shopping-cart {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: -50%;
    font-size: 2em;
    transform: translate(-50%,-50%);
  }
  & .fa-box {
    position: absolute;
    z-index: 3;
    top: -20%;
    left: 52%;
    font-size: 1.2em;
    transform: translate(-50%,-50%);
  }
  & span {
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    font-size: 1.2em;
    color: #fff;
    transform: translate(-50%,-50%);
  }
  & span.add-to-cart {
    opacity: 1;
  }
  & span.added {
    opacity: 0;
  }

  &.clicked {
    .fa-shopping-cart {
      animation: cart 1.5s ease-in-out forwards;
    }
    .fa-box {
      animation: box 1.5s ease-in-out forwards;
    }
    span.add-to-cart {
      animation: txt1 1.5s ease-in-out forwards;
    }
    span.added {
      animation: txt2 1.5s ease-in-out forwards;
    }
  }

  
@keyframes cart {
	0% {
		left: -10%;
	}
	40%, 60% {
		left: 50%;
	}
	100% {
		left: 110%;
	}
}
@keyframes box {
	0%, 40% {
		top: -20%;
	}
	60% {
		top: 40%;
		left: 52%;
	}
	100% {
		top: 40%;
		left: 112%;
	}
}
@keyframes txt1 {
	0% {
		opacity: 1;
	}
	20%, 100% {
		opacity: 0;
	}
}
@keyframes txt2 {
	0%, 80% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
}

.cart-table {
  width: 100%;
  font-size: 1.2em;
  /*min-height: 450px;*/
  thead {
    background-color: #333;
    color:white;
    text-align: center;
  }
  .cart-table-body {
    vertical-align: top;
    .product-small-image {
      height: 50px;
      width: 50px;
    }

    .del-btn {
      background: transparent;
      border: 0;
      &:hover {
        border: 1px solid black;
      }
      i {
        color: red;
      }
    }
    .item-extras {
      display: flex;
      justify-content: space-around;
      
      font-size: 0.8em;
      font-weight: bold;
      color: #666;
      @media only screen and (max-width: 600px) {
        flex-direction: column;
      }
    }


    .price {
    }
    .number {
      .plus,
      .minus {
        width: 15px;
        height: 15px;
        cursor: pointer;
      }
      .number-input {
        width: 30px;
        height: 25px;
        text-align: center;
      }
    }
  }
  .product-price-total {
    text-align: center;
    &.sum {
      background-color: #656565;
      color:white;
      min-width: 5em;
    }
  }
}
.money-icon {
  width: 15px;
  height: 15px;
}

#cart-modal {
  .modal-body-step-2 {
    display: none;
  }

}


#footer {
  background: #343b40;
  padding: 10px 0;
  color: #fff;
  font-size: 14px;

  .copyright {
      text-align: center;
  }

  .credits {
      padding-top: 10px;
      text-align: center;
      font-size: 13px;
      color: #ccc;
      a {
        color: #60a142;
        &:hover, &:active, &:focus {
          color: #2dca98;
          outline: none;
          text-decoration: none;
        }
      }
  }
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}



