<!DOCTYPE html>
<html lang="en">
{%load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" defer />
    <link rel="stylesheet" href="{%static 'assets/css/style.css' %}" defer>
    <title>חקלתות</title>
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <!-- <img src="{%static 'assets/imgs/logo-1.png' %}">-->
        </div>
        <ul>
            <li onclick="openNavbar()" class="navbar-item menu-active"><a href="#home">דף הבית</a></li>
            <li onclick="openNavbar()" class="navbar-item"><a href="#products_sec">מוצרים</a></li>
            <li onclick="openNavbar()" class="navbar-item"><a href="#contact">צור קשר</a></li>
            <a href="javascript:void(0);" class="icon" onclick="openNavbar()">
                <img src="{%static 'assets/imgs/menu-4-32.ico' %}"></img>
            </a>
        </ul>

    </nav>

    <div class="icon-bar">
        <div class='gift move'>
            <button id="modal-btn2">למבצעים החמים</button><img src="{%static 'assets/imgs/gift.svg' %}">
        </div>
        <div class='carrot move'>
            טרי מהשדה <img src="{%static 'assets/imgs/carrot.svg' %}">
        </div>
        <div class='delivery move'>
            משלוח עד הבית<img src="{%static 'assets/imgs/delivery.svg' %}">
        </div>
        

        <div id="modal-btn"  class='whatsapp'>
            <img src="{%static 'assets/imgs/whatsapp.svg' %}">
        </div>
        
        <div class="buy-cart">
            <img src="{%static 'assets/imgs/iconmonstr-shopping-cart-3.svg' %}">
            <span class='badge badge-warning' id='lblCartCount'> 0</span>
        </div>
    </div>

    <div id="my-modal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2>פרטי התקשרות</h2>
                <span class="close">&times;</span>

            </div>
            <!-- light modal body -->
            <div class="modal-body">
                <!-- Your content -->

                <a href="https://wa.me/+972506565124" target="_blank">
                    <img src="{%static 'assets/imgs/whatsapp.svg' %}">
                    <div>
                        בן זילברשטיין
                    </div>
                    <div>
                        אזור דרום
                    </div>
                    <div>
                        050-6565124
                    </div>
                </a>
                <a href="https://wa.me/+972533315213" target="_blank">
                    <img src="{%static 'assets/imgs/whatsapp.svg' %}">
                    <div>
                        אייל ממן
                    </div>
                    <div>
                        אזור צפון
                    </div>
                    <div>
                        053-3315213
                    </div>
                </a>
            </div>
            <div class="modal-footer">
                <h3><button class="close close-btn">סגור</button></h3>

            </div>
        </div>
    </div>

    <section class="sec1" id="home">
        <!--
        <div class="content">
            <h1 class="title">חקלאות כחול-לבן ממושב צופית</h1>
            <h2 class="description">אנחנו דואגים לכם למוצרים טריים ואיכותיים שמגיעים מהשדה היישר אליכם הביתה</h2>
        </div>
        -->
        <div class="flag"><img src="{%static 'assets/imgs/israelFlagTrans.png'%}" /></div>
    </section>
    <h1 class="products-title">המוצרים שלנו</h1>
    <section class="sec2" id="products_sec">
        
        <link rel="prefetch" href="{% get_media_prefix %}{{products.0.image2}}" as="image">
        <link rel="prefetch" href="{% get_media_prefix %}{{products.1.image2}}" as="image">
        <link rel="prefetch" href="{% get_media_prefix %}{{products.2.image2}}" as="image">
        <link rel="prefetch" href="{% get_media_prefix %}{{products.3.image2}}" as="image">
        <link rel="prefetch" href="{% get_media_prefix %}{{products.4.image2}}" as="image">
        <link rel="prefetch" href="{% get_media_prefix %}{{products.5.image2}}" as="image">
        {% for product in products %}
        <div name="{{product.id}}" data-description="{{product.description}}" data-image2="{% get_media_prefix %}{{product.image2}}"
            data-size="{{product.size}}" data-price="{{product.price}}" data-title="{{product.title}}" class="grid-item grid-item-{{product.id}}">
            <h1>{{product.title}}</h1>
            <img id="img{{product.id}}" src="{% get_media_prefix %}{{product.image1}}">
        </div>
        {% endfor %}
        <!--
        <div name="{{products.0.id}}" data-description="{{products.0.description}}" data-image2="{% get_media_prefix %}{{products.0.image2}}"
            data-size="{{products.0.size}}" data-price="{{products.0.price}}" data-title="{{products.0.title}}" class="grid-item grid-item-{{products.0.id}}">
            <h1>{{products.0.title}}</h1>
            <img id="img{{products.0.id}}" src="{% get_media_prefix %}{{products.0.image1}}">
        </div>
        <div name="{{products.1.id}}" data-description="{{products.1.description}}" data-image2="{% get_media_prefix %}{{products.1.image2}}"
            data-size="{{products.1.size}}"data-price="{{products.1.price}}" data-title="{{products.1.title}}" class="grid-item grid-item-{{products.1.id}}">
            <h1>{{products.1.title}}</h1>
            <img id="img{{products.1.id}}" src="{% get_media_prefix %}{{products.1.image1}}">
        </div>
        <div name="{{products.2.id}}" data-description="{{products.2.description}}" data-image2="{% get_media_prefix %}{{products.2.image2}}"
            data-size="{{products.2.size}}"data-price="{{products.2.price}}" data-title="{{products.2.title}}" class="grid-item grid-item-{{products.2.id}}">
            <h1>תפוח אדמה נשיקות - בלובל</h1>
            <img id="img{{products.2.id}}" src="{% get_media_prefix %}{{products.2.image1}}">
        </div>

        <div name="{{products.3.id}}" data-description="{{products.3.description}}" data-image2="{% get_media_prefix %}{{products.3.image2}}"
            data-size="{{products.3.size}}"data-price="{{products.3.price}}" data-title="{{products.3.title}}" class="grid-item grid-item-{{products.3.id}}">
            <h1>{{products.3.title}}</h1>
            <img id="img{{products.3.id}}" src="{% get_media_prefix %}{{products.3.image1}}">
        </div>
        <div name="{{products.4.id}}" data-description="{{products.4.description}}" data-image2="{% get_media_prefix %}{{products.4.image2}}"
            data-size="{{products.4.size}}"data-price="{{products.4.price}}" data-title="{{products.4.title}}" class="grid-item grid-item-{{products.4.id}}">
            <h1>{{products.4.title}}</h1>
            <img id="img{{products.4.id}}" src="{% get_media_prefix %}{{products.4.image1}}">
        </div>
-->
        <div id="cart-modal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>עגלת קניות</h2>
                    <span class="close">&times;</span>
                </div>
                <div class="modal-body modal-body-step-1">
                    <table class="cart-table" dir="rtl">
                        <thead>
                            <tr>
                                <td>
                                    תמונה
                                </td>
                                <td>
                                    מוצר
                                </td>
                                <td>
                                    כמות
                                </td>
                                <td>
                                    סה"כ
                                </td>
                                <td>מחק
                                    
                                </td>
                            </tr>
                        </thead>
                        <tbody class="cart-table-body">

                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><div id="item-total-price" class="product-price-total sum">000</div></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                    <div class="check-out modal-body modal-body-step-2">
                        <div class="form-style-6">
                            <h1>פרטי הזמנה</h1>
                            <form id="cartform">
                                
                                {% csrf_token %}
                                <input type="text" name="field1" placeholder="השם המלא שלך" />
                                <input type="text" id="addres_inp" name="location" placeholder="?מהיכן את/ה" />
                                <input type="email" name="field2" placeholder="כתובת מייל לתקשורת נוחה" />
                                <input type="tel" name="field4" placeholder="?לאיזה טלפון לחזור אליך" />
                                <textarea name="field3" placeholder="הערות לגבי ההזמנה"></textarea>
                                <!--<input type="submit" value="שלח" />-->
                            </form>
                        </div>

                    </div>
                
                <div class="modal-footer">
                    <h3><button class="close close-btn">סגור</button></h3>
                    <h3>
                        <button class="next next-btn">הבא</button>
                        <button class="prev prev-btn" disabled>הקודם</button>
                    </h3>
                </div>
            </div>
        </div>
        <div id="products-modal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>מוצרי הדגל שלנו</h2>
                    <span class="close">&times;</span>

                </div>
                <!-- light modal body -->
                <div class="modal-body">
                    <div class="post-container">
                        <div class="post" data-current="-1">
                            <div class="header_post">
                                <div class="post-image"></div>
                            </div>
                            <div class="body_post">
                                <div class="post_content">
                                    <h1></h1>
                                    <p></p>
                                    <div class="container_infos">
                                        <div class="number">
                                            <span class="minus">-</span>
                                            <input id="amount-input" type="text" value="1" />
                                            <span class="plus">+</span>
                                        </div>
                                        <!--
                                        <div class="cart"></div>
                                        -->
                                        <button class="cart-button">
                                            <span class="add-to-cart">Add to cart</span>
                                            <span class="added">Added</span>
                                            <i class="fa fa-shopping-cart">
                                            </i>
                                            <i class="fas fa-box"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                <div class="products-footer">
                    {% for product in products %}
                    <div name="{{product.id}}" data-description="{{product.description}}" data-image2="{% get_media_prefix %}{{product.image2}}"
                        data-size="{{product.size}}" data-price="{{product.price}}" data-title="{{product.title}}" class="grid-item grid-item-{{product.id}}">
                        <!--<h1>{{product.title}}</h1>-->
                        <img id="img{{product.id}}" src="{% get_media_prefix %}{{product.image1}}">
                    </div>
                    {% endfor %}
                    <!--
                    <div name="{{products.0.id}}" data-description="{{products.0.description}}" data-image2="{% get_media_prefix %}{{products.0.image2}}"
                    data-title="{{products.0.title}}" class="grid-item grid-item-{{products.0.id}}">
                    <img id="img1" src="{% get_media_prefix %}{{products.0.image1}}">
                </div>
                <div name="{{products.1.id}}" data-description="{{products.1.description}}" data-image2="{% get_media_prefix %}{{products.1.image2}}"
                    data-title="{{products.1.title}}" class="grid-item grid-item-{{products.1.id}}">
                    <img id="img2" src="{% get_media_prefix %}{{products.1.image1}}">
                </div>
                <div name="{{products.2.id}}" data-description="{{products.2.description}}" data-image2="{% get_media_prefix %}{{products.2.image2}}"
                    data-title="{{products.2.title}}" class="grid-item grid-item-{{products.2.id}}">
                    <img id="img3" src="{% get_media_prefix %}{{products.2.image1}}">
                </div>
        
                <div name="{{products.3.id}}" data-description="{{products.3.description}}" data-image2="{% get_media_prefix %}{{products.3.image2}}"
                    data-title="{{products.3.title}}" class="grid-item grid-item-{{products.3.id}}">
                    <img id="img4" src="{% get_media_prefix %}{{products.3.image1}}">
                </div>
                <div name="{{products.4.id}}" data-description="{{products.4.description}}" data-image2="{% get_media_prefix %}{{products.4.image2}}"
                    data-title="{{products.4.title}}" class="grid-item grid-item-{{products.4.id}}">
                    <img id="img5" src="{% get_media_prefix %}{{products.4.image1}}">
                </div>
            -->
                </div>
                    <h3><button class="close close-btn">סגור</button></h3>
                </div>
            </div>


    </section>
    <section class="sec3" id="contact">
        <div id="exampleSlider">      <!-- Give wrapper ID to target with jQuery & CSS -->
            <div class="MS-content">
                <div class="item">  <img src="{%static 'assets/imgs/carusel/photo_136@21-01-2021_09-23-29.jpg' %}" /> </div>
                <div class="item"> <img src="{%static 'assets/imgs/carusel/photo_113@21-01-2021_09-14-04.jpg' %}" /> </div>
                <div class="item">  <img src="{%static 'assets/imgs/carusel/photo_141@21-01-2021_10-53-42.jpg' %}" /> </div>
                <div class="item">  <img src="{%static 'assets/imgs/carusel/photo_115@21-01-2021_09-14-04.jpg' %}" /> </div>
                <div class="item"> <img src="{%static 'assets/imgs/carusel/strowberryBox.jpg' %}" /> </div>
                <div class="item">  <img src="{%static 'assets/imgs/carusel/traktor1.jpg' %}" /> </div>
                <div class="item">  <img src="{%static 'assets/imgs/carusel/1carrot.jpg' %}" /> </div>
                <div class="item"> <img src="{%static 'assets/imgs/carusel/traktor2.jpg' %}" /> </div>
                
            </div>
        </div>
        <div class="contact-us">
            <div class="form-style-6">
                <h1> צור קשר </h1>
                <form method="POST" action="/contact-form" id="contact-form">
                    {% csrf_token %}
                    <input type="text" name="field1" placeholder="השם המלא שלך" />
                    <input type="text" id="addres_inp" name="location" placeholder="?מהיכן את/ה" />
                    <input type="email" name="field2" placeholder="כתובת מייל לתקשורת נוחה" />
                    <input type="tel" name="field4" placeholder="?לאיזה טלפון לחזור אליך" />
                    <textarea name="field3" placeholder="איך נוכל לעזור"></textarea>
                    <input type="submit" name="contact-submit" value="שלח" />
                </form>
            </div>
            <div>
                <img src="{%static 'assets/imgs/photo_16@21-12-2020_18-30-08.jpg'%}"/>
            </div>
            <div class="who-us">
                <h1><span>מי אנחנו </span></h1>
                <div class="content">
                    <h2 class="description">אנו חקלאים אוהבי אדמה הדואגים לספק לכם את  המוצרים הטריים והאיכותיים ביותר שמגיעים מהשדה היישר אליכם הביתה</h2>
                    <h1 class="title">חקלאות כחול-לבן ממושב צופית</h1>
                    
                </div>
            </div>
        </div>

    </section>


    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <!--<script src="https://use.fontawesome.com/2f86d28cb2.js"></script>-->
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLmOyl1lZ1oOovi60v6HPnp6bY-7A80is&language=he&libraries=places"
    defer></script>
    <script src="{%static 'assets/js/multislider.min.js' %}"></script>
    <!-- script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>-->
    <script src="{%static 'assets/js/script.js' %}"></script>
</body>

</html>

<!--
    attributes    
        Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
        Icons made by <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
        Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
        <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        icons from https://fontawesome.com/license
        <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
-->